*.exe
.vscode/*
__pycache__/*
output
output.txt
example.cpp
*.pyd
build/*
test.py
QEPG/__pycache__/*
QEPG/*.pyd
test/__pycache__/*
QEPG/build/*
LERcalc/build/*
LERcalc/__pycache__/*
stimprograms/__pycache__/*
*.png
benchmark/__pycache__/*
QEPG/vc140.pdb
benchmark/tmp.py
output2.txt
.ipynb_checkpoints/
*.ipynb
*.txt
myresults/*
myresults2/*
myresults3/*
myresultTot/*
myresultsAll/*
myresultNew/*
myresultAll/*
output2
Allresults/*
hexagonresults/*
squareresults/*
*.pdf
ScalER/__pycache__/*
tmp.py
*.egg-info/
*.stim
!Figures/*.pdf
!Figures/*.png
src/scalerqec/__pycache__/